.button-small{
    margin-left: 1100px;
    background-color: #d61298;
    color: #ffffff;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border-style: none;
    
}
body{
    background: #000000;
}
.hero{
    background-image: url(./assets/bg.png);
    margin-top: -260px;
    margin-bottom: -20px;
    width: 1500px;
    height: 700px;
    margin-left: -20px;
}
.button-large{
    margin-left: 550px;
    background-color: #d61298;
    color: #ffffff;
    border-style: none;
    border-radius: 10px;
    width: 260px;
    height: 70px;
}
.grow-list{
}
.logo{
    margin-left: 70px;
    margin-top: 5px;
    height: auto;
    width: 100px;
    float: left;
  padding: 0 10px;
  font-size: 14px;
  border-right: 2px #ffffff solid;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin-left: 250px;
    margin-top: 35px;
    margin-bottom: -15px;
    list-style-type: none;
    color: #ffffff;
}

.list-item::after{
    display: inline-block;
    color: rgb(240, 233, 233);
    content: '⌵';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
.hero-heading{
    font-size: 80px;
    margin-top: 290px;
    margin-bottom: 90px;
    margin-left: 400px;
    margin-right: 400px;
    color: #ffffff;
}

.hero-description{
    font-size: 30px;
    margin-left: 400px;
    margin-top: 200px;
    color: #ffffff;
}